[submodule "assignment1/assignment-1-getting-started-team-1"]
	path = assignment1/assignment-1-getting-started-team-1
	url = https://github.com/Maan-Khedr-ENSF-300/assignment-1-getting-started-team-1.git
