[submodule "assignment1/assignment-1-getting-started-team-1"]
	path = assignment1/assignment-1-getting-started-team-1
	url = https://github.com/Maan-Khedr-ENSF-300/assignment-1-getting-started-team-1.git
[submodule "assignment2/assignment-2-erds-team-1-1"]
	path = assignment2/assignment-2-erds-team-1-1
	url = https://github.com/Maan-Khedr-ENSF-300/assignment-2-erds-team-1-1.git
[submodule "FinalProject/museum-project-team-1-1"]
	path = FinalProject/museum-project-team-1-1
	url = https://github.com/Maan-Khedr-ENSF-300/museum-project-team-1-1.git
